{{- range .Matches }}{{- $cvss := .Vulnerability.Cvss }}{{- if gt (len $cvss) 0 }}{{- $first := index $cvss 0 }}{{- $score := printf "%.1f" $first.Metrics.BaseScore }}{{ .Vulnerability.ID }}|{{ .Vulnerability.Severity }}|{{ $score }}|{{ .Vulnerability.Fix.State }}|{{ .Artifact.Name }}{{ else }}{{ .Vulnerability.ID }}|{{ .Vulnerability.Severity }}||{{ .Vulnerability.Fix.State }}|{{ .Artifact.Name }}{{ end }}{{ "\n" -}}{{- end }}